aiomysql==0.0.21
distest==0.4.9
Faker==5.0.2
freezegun==1.0.0
hjson==3.0.2
numpy==1.19.4
oauth2client==4.1.3
pandas==1.2.0
psutil==5.8.0
PyMySQL==0.9.3
python-dateutil==2.8.1
python-dotenv==0.15.0
redis==3.5.3
shortuuid==1.0.1
SQLAlchemy==1.3.22

dateparser~=1.0.0